extends ../common.pug

block content
	nav.navbar.navbar-expand-lg.navbar-light.bg-light
		a.navbar-brand(href='#') Navbar
		button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
			span.navbar-toggler-icon
		#navbarNav.collapse.navbar-collapse
			ul.navbar-nav
				li.nav-item.active
					a.nav-link(href='/home') Home
				li.nav-item
					a.nav-link(href='/employee') Employee
				li.nav-item
					a.nav-link(href='/book') Book
	
	h1 Book

	.container(style="margin:200 400")
		table.table
			thead.thead-dark
				tr
					th Name
					th Author
					th Product
					th Translator
					th Langue
					th Category
					th Page
					th Year
					th BookCase
					th Floor
					th Price
					th
						a.btn.btn-primary(href='/book/create', role='button') Add
			tbody
				each book in books
					tr
						td= book.name
						td= book.author
						td= book.product
						td= book.translator
						td= book.langue
						td= book.category
						td= book.page
						td= book.year
						td= book.bookCase
						td= book.floor
						td= book.price
						td
							a.btn.btn-secondary(href='/book/edit/'+book._id, role='button') Edit
							form(action="/book",method="post")
								//- button.btn.btn-secondary(role="button",value= book._id, name="btnEdit") Edit
								button.btn.btn-danger.mt-2(value= book._id,name="btnDel", role='button') Del